@page "/"

<PageTitle>SmartCrop Home</PageTitle>

<h1>Smart Crop Health Management System</h1>

Welcome to the smart crop health management system. 

<p>This application provides crop recommendations and weather forecasts to help farmers make informed decisions about their crops. </p>